<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<h1>Hi my name is Lucas</h1>

<h3>Welcome to my Portfolio</h3>

<a href="/projects">Projects</a>
<p>I have a variety of projects both personal and contract. They are built using Python Swift and JavaScript.</p>

<h3>About Me</h3>
<a href="/about_me">about me</a>
<p>A little about my background and why I do what I do</p>

<h3>Testimonials</h3>
<a href="/testimonials">testimonials</a>
<p>What my clients and mentors have to saw about my rojects and work ethic</p>


</body>
</html>