<!DOCTYPE html>
<html>
<head>
	<title>Secrets</title>
</head>
<body>

<h1>Welcome {{request.session.first_name}} {{request.session.last_name}}</h1>

<p><a href="/logout">Logout</a></p>

<form action="/add_secret" method="post">
	{% csrf_token %}
	<textarea name="secret"></textarea>
	<input type="submit" value="Submit">
</form>

<a href="/show_popular">Show Popular Secret</a>


{%for secret in secrets%}
	<p>{{secret.secret}} ({{secret.created_at|timesince}}) {{secret.likers.all.count}}

	{% if currentuser in secret.likers.all %}
		<strong>You liked this</strong></p>

	{% elif currentuser == secret.user %}
		<a href="/delete/{{secret.id}}">Delete</a></p>

	{% else %}
		<a href="/like/{{secret.id}}">Like</a></p>
	{% endif %}
	
	
	
{% endfor %}





</body>
</html>