<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<h1> Form </h1>
	<form action='/result' method='post'>
	    Your Name:<input type="text" name="first_name"><br>
		Dojo Location:<select name="location">
   			 	<option value="seattle">seattle</option>
    			<option value="san_jose">san jose</option>
    			<option value="new_york">new york</option>
    			<option value="san_diego">san diego</option>
  			</select><br>
		Favorite Language: <select name="language">
   			 	<option value="javascript">javascript</option>
    			<option value="python">python</option>
    			<option value="html">html</option>
    			<option value="css">css</option>
  				</select><br>
 Comment: <input type="text" name="comment"><br>
 <input type="submit" value="submit">
	</form>




</body>
</html>