<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'secrets_app/css/style.css' %}">
</head>
<body>

<h1>Hello! {{request.session.first_name}} {{request.session.last_name}}!</h1>

{% if messages %}
<ul class="messages_success">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/add_secret" method="post">
	{% csrf_token %}
	<textarea rows="4" cols="50" name="secret">Your secret here...</textarea>
	<input type="submit" value="Post">
</form>

<a href="/popular">Most Popular Secrets</a>

<h1>Recent Secrets...</h1>


{% for secret in secrets %}
	
	<p>{{secret.secret}} ({{secret.created_at|timesince}} ago) 
	{{secret.likers.count}}

	{% if secret.user == currentuser %}
		<a href="/delete/{{secret.id}}">Delete</a></p>
		<!-- if the like object's user == the current user -->
	{% elif currentuser in secret.likers.all %}
		<strong>You liked this</strong>
	{% else %}
		<a href="/like/{{secret.id}}">Like</a></p>
	{% endif %}
{% endfor %}

<p>-------------------------------------------</p>






</body>
</html>