body{
	padding: 30px;
}


div {
	display: inline-block;
	height: 262px;
	width: 262px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid black;
}


img {
	display: inline-block;
	height: 262px;
	width: 262px;
}