<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1> Name: <%= animal_data[0].name %> </h1>
<h1> Weight: <%= animal_data[0].weight %> lbs</h1>
<h1> Habitat: <%= animal_data[0].habitat %> </h1>
<h1> Color: <%= animal_data[0].color %> </h1>

<a href="/">Home</a>

</body>
</html>