<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">

    <h1>Git Hub Battle</h1>

    <a [routerLink] ="['/']">Battle</a>
    <a [routerLink] ="['/rankings']">Ranking</a>

    {{player1_obj}}
    {{player2_obj}}
    {{battle}}



    <app-get-player-1 *ngIf="battle == null" (runAfterGetUser1)="pullDataToDisplay1($event)"
    (runAfterGetUser2)="pullDataToDisplay2($event)" (buttonClicked)="battleBegun($event)"></app-get-player-1>

    <router-outlet></router-outlet>

    <app-results *ngIf="battle != null" [player1]="player1_obj" [player2]="player2_obj"></app-results>
</div>


