<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>


<form action='/display_name' method='post'>
	<input type="hidden" name="action" value="register">	
	Your Name: <input type="text" name="name">
	Email: <input type="text" name="email">
	<input type="submit" value="Register">
</form>


<form action='/display_name' method='post'>	
	<input type="hidden" name="action" value="login">	
	Your Last Name: <input type="text" name="name">
	Email2: <input type="text" name="email">
	<input type="submit" value="Login">
</form>





</body>
</html>