<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>

<form action='/display_name' method='post'>

Your Name: <input type="text" name="name">
Dojo Location: <select name="location">
	<option name="San Jose">San Jose</option>
    <option name="Seattle">Seattle</option>
    <option name="Boston">Boston</option>
    <option name="Chicago">Chicago</option>
	</select>
	Favorite Language: <select name="language">
	<option name="python">Python</option>
    <option name="java">Java</option>
    <option name="css">CSS</option>
    <option name="html">HTML</option>
	</select><br>
	<textarea name="comment">Enter text here...</textarea>
<input type="submit" name="submit">
</form>

<form action='/display_name' method='POST'>
    Email:<input type="text" name="email">
	<input type="submit" value="Submit">
</form>




</body>
</html>