<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
</head>
<body>
<h1>Counter</h1>
<p>Couter Number: {{session['counter']}}</p>




<form action='/run' method="post">
	<input type="hidden" name="action" value="1">
	<input type="submit" name="1" value="+1">
</form>

<form action='/run' method="post">
	<input type="hidden" name="action" value="2">
	<input type="submit" name="1" value="+2">
</form>

<form action='/run' method="post">
	<input type="hidden" name="action" value="3">
	<input type="submit" name="1" value="+3">
</form>
</body>
</html>